

  .line {
    border: 5px solid blue;
  }
  .setbasefont {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: blue; 
  }

  .bodybg {
    background-color:blue
  }
  
  .appbg {
    background-color:lightblue;
  }
.fontsize {
  font-size: 24px; 
  line-height: 2;
}

.imgstyle {
    border: 1px solid blue;
    margin: 10px;
}

.fontbold {
  font-weight: 900;
  }

  .imgcenter {
    text-align: center;
    vertical-align: center;
  }

  .centeralign {
    display: inline;
    vertical-align: center;
  }


    
